* {
  margin: 0;
  color: white;
  text-decoration: none;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.4;
}
body {
  background-image: url(img/bgc.png);
  width: 1920px;
}
.container {
  padding: 0px 312px;
  margin: auto;
}
.logo {
  width: 40px;
  height: 40px;
  background-image: url(img/logo.svg);
}
.header {
  background-image: url(img/header-bgc.png);
  background-repeat: no-repeat;
  background-color: black;
}
.title {
  font-weight: 700;
}
.input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: rgba(255, 255, 255, 0.25);
  height: 44px;
  border-radius: 50px;
  border: none;
  outline: none;
  padding: 11px 30px;
  font-size: 14px;
}
.button {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 44px;
  border-radius: 50px;
  border: none;
  padding: 10px 30px;
}
.button_blue {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}
.button_red {
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  font-weight: 700;
}
.button_transp {
  background: transparent;
  border: 1px solid #ffffff;
}
.header__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 80px;
}
.header__menu {
  margin-left: 200px;
}
.header__menu-item {
  margin-left: 52px;
}
.header__title {
  font-size: 64px;
  margin-top: 150px;
}
.header__timer {
  margin-top: 50px;
  width: 522px;
  display: flex;
  justify-content: space-between;
}
.header__timer-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #121212;
  padding: 20px 30px;
  color: #717171;
}

.header__timer-item span {
  font-size: 36px;
  font-weight: 700;
}
.header__bottom {
  background-color: #121212;
  padding: 28px 0px;
  margin-top: 218px;
  line-height: 1.5;
}
.header__bottom p {
  color: #717171;
}
.header__bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__student-count {
  height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__student-count p {
  display: flex;
  justify-content: space-between;
  width: 251px;
}
.header__bottom span {
  font-weight: 700;
}
.header__pay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 714px;
  height: 66px;
  margin-top: 8px;
}
.header__pay-earned {
  display: flex;
  justify-content: space-between;
  width: 279px;
}
.header__pay-scale {
  background-color: white;
  width: 100%;
  height: 6px;
}
.header__pay-scale_fill {
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  width: 440px;
}
.header__pay-count {
  display: flex;
  justify-content: space-between;
}
.main__block {
  margin: 200px 0px;
}
.main__title {
  font-size: 48px;
}
.main__info {
  line-height: 1.6;
}
.main__about {
  display: flex;
  justify-content: space-between;
}
.main__about-frame {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 526px;
  height: 499px;
  border: 30px solid #c89afc;
  border-image: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%) 100;
  background: transparent;
}
.main__about-img {
  position: relative;
  top: 66px;
  left: 10px;
}
.main__about-text {
  margin-top: 69px;
  width: 636px;
}
.main__about-info {
  margin-top: 45px;
  margin-left: 5px;
}
.main__start {
  margin-top: 262px;
}
.main__icon-title {
  display: flex;
  align-items: center;
}
.main__start-icon {
  transform: rotate(45deg);
  margin-right: 36px;
}
.main__start-info {
  color: #717171;
  margin-left: 5px;
  margin-top: 38px;
}
.main__start-infograph {
  display: flex;
  margin-top: 80px;
}
.main__infograph-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 273px;
}
.main__infograph-title {
  font-size: 36px;
}
.main__infograph-rect {
  width: 324px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}
.main__infograph-rect-100 {
  height: 80px;
}
.main__infograph-rect-75 {
  height: 60px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.main__infograph-rect-50 {
  height: 30px;
}
.main__infograph-rect-total {
  height: 10px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.main__inphofraph-info {
  font-size: 14px;
  color: #717171;
  padding-right: 16px;
  margin-top: 14px;
}
.main__proff {
  text-align: center;
}
.main__proff-details {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}
.main__details-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 416px;
  height: 362px;
}
.main__details-icon {
  width: 100px;
  height: 100px;
}
.main__details-title {
  margin-top: 28px;
  font-size: 24px;
  font-weight: 500;
}
.main__details-info {
  width: 358px;
  color: #cdcdcd;
}
.main__partners {
  margin-top: 219px;
}
.main__partners-icon {
  transform: rotate(-135deg);
  margin-right: 36px;
}
.main__partners-logos {
  display: grid;
  grid-template-columns: 324px 324px 324px 324px;
  margin-top: 78px;
}
.main__partners-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 324px;
  height: 150px;
}
.main__partners-item:nth-child(-n + 4) {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-style: none solid solid none;
}
.main__partners-item:nth-child(n + 5) {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-style: none solid none none;
}
.main__partners-item:nth-child(4n) {
  border-right: none;
}
.main__program {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main__program-icon {
  transform: rotate(180deg);
  margin-bottom: 74px;
}
.main__program-info {
  color: #717171;
  margin-top: 30px;
}
.main__program-weeks {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  left: 8px;
}
.main__weeks-divider {
  width: 6px;
  height: 677px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}
.main__weeks-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 364px;
  height: 95px;
  margin-bottom: 95px;
}
.main__week-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 304px;
}
.main__weeks-title {
  font-size: 14px;
  color: #717171;
}
.main__weeks-info {
  font-size: 18px;
}
.main__weeks-left {
  text-align: right;
  padding-top: 10px;
}
.main__weeks-rigth {
  text-align: left;
  padding-top: 97px;
}
.main__weeks-line {
  width: 40px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}
.main__weeks-rigth .main__weeks-item {
  width: 380px;
}
.main__weeks-left .main__weeks-item:first-child {
  margin-bottom: 87px;
}
.main__teachers {
  position: relative;
  top: -66px;
}
.main__teachers-icon {
  margin-right: 36px;
}
.main__teachers-bio {
  display: flex;
  justify-content: space-between;
  margin-top: 101px;
}
.main__teacher-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 416px;
  height: 379px;
}
.main__teacher-avatar {
  width: 190px;
  height: 190px;
}
.main__teacher-title {
  font-size: 24px;
  font-weight: 500;
  margin-top: 42px;
}
.main__teacher-info {
  color: #cccccc;
  margin-top: 15px;
  margin-bottom: 30px;
}
.main__block:last-child {
  margin-bottom: 0px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 136px;
  text-align: center;
  margin-bottom: 106px;
}
.footer__title {
  font-size: 48px;
}
.footer__info {
  color: #717171;
  margin-top: 30px;
  line-height: 1.6;
}
.footer__email {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.footer__input {
  position: relative;
  left: 10px;
  width: 353px;
  border-radius: 50px 0px 0px 50px;
}
.footer__button {
  position: relative;
  right: 10px;
}
.footer__social {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.footer__social-button {
  width: 50px;
  height: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
.footer__social-button:last-child {
  margin-right: 0px;
}
